@mixin display-flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin display-flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin center() {
  justify-content: center;
  align-items: center;
}