$nav-color: rgba(0, 128, 128, .5);
$background-color: #FFF;
$light-gray: #BABABA;
$modal-color: rgba(0,0,0,0.4);
$favorite-color: red;
$cookbook-color: yellow;
$unselected-color: #D3D3D3;



$main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;