body {
  background-color:#FFF;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  background-color: rgba(0, 128, 128, .5);
  position: fixed;
  top: 0;
  height: 8vh;
  margin: 0px;
  z-index: 9999;
  border-bottom: 1px solid grey;
}

h1 {
  position: absolute;
  left: 10px;
}

.search-bar {
  width: 80%;
  border: none;
  border-radius: 5px;
}

.search-bar::-webkit-input-placeholder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1%;
  width: 50%;
}

.submit-btn,
.nav-btn {
  cursor: pointer;
  width: 8vw;
  margin: 0 1% 0 1%;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 8vh;
}

.featured-recipe-image {
  height: auto;
  width: 50%;
  cursor: pointer;
}

.featured-recipe-info-container {
  background-color: #FFF;
  width: 100%;
  left: 23%;
  bottom: 20%;
  text-align: center;
}

.featured-recipe-info-title,
.featured-recipe-name {
  font-size: 3vh;
  text-align: center;
  margin: 2%;
}

.featured-favorite-save-btn-container {
  display: flex;
  justify-content: flex-end;
}

.featured-save-recipe-btn {
  right: 26vh;
}

.featured-heart-btn {
  right: 35vh;
}

.cookbook,
.browse-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10vh;
}

.individual-recipe-card {
  width: 30%;
  height: 100%;
  margin: 1%;
}

.recipe-card {
  box-shadow: 10px 10px 5px grey;
  position: relative;
  margin: 0 0 2vh 0;
  height: 72%;
}

.recipe-card-image {
  height: auto;
  width: 100%;
  padding: 0;
  margin: -4px;
  width: 102%;
}

.recipe-card-title {
  font-size: 150%;
  text-align: center;
} 

.heart-btn,
.save-recipe-btn {
  position: absolute;
  background: none;
  border: none;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  font-size: 175%;
  top: 77%;
}

.featured-heart-btn,
.featured-save-recipe-btn {
  position: absolute;
  background: none;
  height: 7vh;
  width: 7vh;
  bottom: 1vh;
  border-radius: 50%;
  font-size: 210%;
  cursor: pointer;
  margin-top: 4%;
  top: 57%;
}

.save-recipe-btn {
  right: 1%;
}

.heart-btn {
  right: 15%;
}

.featured-heart-btn {
  right: 29%;
}

.featured-save-recipe-btn {
  right: 25%;
}

i {
  color: #D3D3D3;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.grey {
  background-color: #BABABA;
}

.recipe-card:hover {
  transform: scale(1.02);
  transition-duration: .15s;
  cursor: pointer;
}

.recipe-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.recipe-view-btns {
  display: flex;
  flex-direction: row;
}

.recipe-info { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 8vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recipe-view-img {
  width: 100%;
  margin-top: 8vh;
}

.recipe-view-img > img {
  width: 100%;
}

h2 {
  font-size: 5vh;
  margin: 1vh;
}

h4 {
  font-size: 3vh;
  margin: 1vh;
}

h5 {
  font-size: 2.5vh;
  height: 3vh;
  margin-bottom: 0;
}

.ingredients-view,
.directions-view {
  display: flex;
  width: 30vw;
  background-color: lightgrey;
  margin: 1vh;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

/* ol {
  width: 75%;
} */

.whats-cookin {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;
}

.pantry-view, 
.shopping-cart-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  bottom: 50px;
}

.exit-modal-btn {
  font-size: 40px;
  position: fixed;
  right: 31%;
}

.pantry, 
.shopping-cart {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.cart-item, 
.counter {
  display: flex;
  flex-direction: row;
}

.counter-input {
  margin: 0;
}

.cart-item {
  margin: 10px;
}

li {
  margin-right: 10px;
}

.buy-btn {
  width: 100%;
}

.hidden { 
  display: none;
}