body {
  background-color:#FFF;
  margin: 0;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  background-color: blue;
  position: fixed;
  top: 0;
  height: 8vh;
  margin: 0px;
  z-index: 9999;
}

h1 {
  position: absolute;
  left: 10px;
}

.search-bar {
  width: 20%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1%;
  width: 40%;
}

.nav-btn {
  width: 8vw;
  margin: 0 1% 0 1%;
}

.search-bar {
  margin: 1%;
}

.recipe-of-the-day {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 8vh;
}

.featured-recipe-image {
  height: auto;
  width: 74%;
}

.featured-recipe-info-container {
  background-color: grey;
  height: 22%;
  width: 16%;
  position: absolute;
  left: 23%;
  bottom: 20%;
}

.featured-recipe-info-title,
.featured-recipe-name {
  font-size: 25px;
  text-align: center;
  margin: 2%;
}

.favorite-save-btn-container {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.heart-btn,
.save-recipe-btn {
  height: 10%;
  width: 10%;
  border: none;
  background: transparent;
  font-size: 210%;
  margin: 5%;
}

.recipe-cards-display-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 3%;
}

.recipe-card {
  width: 30%;
  height: 50%;
  border: 2px solid red;
  margin: 1%;
}

.recipe-card-image {
  height: 100%;
  width: 100%;
}

.recipe-card-title {
  text-align: center;
} 
